<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HRToolForCandiAssess</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.hrtool.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addHR</display-name>
    <servlet-name>addHR</servlet-name>
    <servlet-class>com.hrtool.addHR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHR</servlet-name>
    <url-pattern>/addHR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRLogin</display-name>
    <servlet-name>HRLogin</servlet-name>
    <servlet-class>com.hrtool.HRLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRLogin</servlet-name>
    <url-pattern>/HRLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HrLogin</display-name>
    <servlet-name>HrLogin</servlet-name>
    <servlet-class>com.hrtool.HrLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HrLogin</servlet-name>
    <url-pattern>/HrLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobs</display-name>
    <servlet-name>AddJobs</servlet-name>
    <servlet-class>com.hrtool.AddJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobs</servlet-name>
    <url-pattern>/AddJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyForJava</display-name>
    <servlet-name>ApplyForJava</servlet-name>
    <servlet-class>com.hrtool.ApplyForJava</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyForJava</servlet-name>
    <url-pattern>/ApplyForJava</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMarks</display-name>
    <servlet-name>AddMarks</servlet-name>
    <servlet-class>com.hrtool.AddMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarks</servlet-name>
    <url-pattern>/AddMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQues</display-name>
    <servlet-name>AddQues</servlet-name>
    <servlet-class>com.hrtool.AddQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQues</servlet-name>
    <url-pattern>/AddQues</url-pattern>
  </servlet-mapping>
</web-app>